[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dirmult"]
	path = dirmult
	url = https://github.com/cran/dirmult
[submodule "genogeographer"]
	path = genogeographer
	url = https://github.com/cran/genogeographer
